@model GlobalHack.Models.Person

@{
    ViewBag.Title = "Index";
}

<h1>
    @Html.ActionLink("Find a bed", "Index", "Shelters", new {personId = Model.Id}, null)
</h1>
<h1>
    @Html.ActionLink("Reservations", "Index", "Reservations", new { personId = Model.Id }, null)
</h1>
<h1>
    @Html.ActionLink("Referrals", "Index", "Referrals", new { personId = Model.Id }, null)
</h1>
