@model GlobalHack.Models.Person

@{
    ViewBag.Title = "Index";
}
<div class="list-group table-of-contents">
    <h1>
        @Html.ActionLink("Find a bed", "Index", "Shelters", new { personId = Model.Id }, new { @class = "list-group-item" })
    </h1>
    <h1>
        @Html.ActionLink("Reservations", "Index", "Reservations", new { personId = Model.Id }, new { @class = "list-group-item" })
    </h1>
    <h1>
        @Html.ActionLink("Referrals", "Index", "Referrals", new { personId = Model.Id }, new { @class = "list-group-item" })
    </h1>
</div>
