@model IEnumerable<GlobalHack.Models.Shelter>

@{
    ViewBag.Title = "Index";
}

<script src='https://api.mapbox.com/mapbox.js/v3.0.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.0.0/mapbox.css' rel='stylesheet' />

<h1>@Html.ActionLink("Home", "Index", "People", new { Id = ViewBag.PersonId }, null) > Shelters</h1>


<div id="map" style="height: 600px;width: 100%"></div>


<script>
    var shelters = @Html.Raw(Json.Encode(Model));

    var geojson = [];
    shelters.forEach(shelter => {
        geojson.push({
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [parseFloat(shelter.Location.split(',')[0]), parseFloat(shelter.Location.split(',')[1])]
            },
            properties: {
                title: ("<a href='@Url.Action("Create","Reservations", new { shelterId = "SHELTERID", personId = "PERSONID" })'>" + shelter.Name + "</a>")
                    .replace('SHELTERID', shelter.Id).replace('PERSONID', @ViewBag.PersonId),
                description: shelter.Address,
                'marker-color': '#3ca0d3',
                'marker-size': 'large',
                'marker-symbol': 'lodging'
            }
        });
    });

    // Provide your access token
    L.mapbox.accessToken = 'pk.eyJ1IjoidWJlcmNocmlzIiwiYSI6IjUtbTlEYTgifQ.sXXgD7Gs0xCEkYVTBadmyg';
    // Create a map in the div #map
    var mapGeo = L.mapbox.map('map', 'mapbox.streets').setView([38.625392, -90.193977], 12);   // latitude 40, longitude -75, zoom level 9

    var myLayer = L.mapbox.featureLayer(geojson, {sanitizer: function(input) {return input;} }).addTo(mapGeo);
</script>